table {
  border-collapse: collapse;
}

thead {
  background-color: var(--bg-color-2);
}

th,
td {
  padding: 0.25rem 0.5rem;
  text-align: left;
  border: 1px solid rgba(12, 12, 12, 0.3);
  min-width: fit-content;

  &.small {
    min-width: 2rem;
  }
  &.med {
    min-width: 8rem;
  }
  &.big {
    min-width: 14rem;
  }
}

th {
  background-color: var(--bg-color-2);
}

/* Style odd and even columns */
tr:nth-child(even) {
  background-color: var(--bg-color-2);
}

/* Enable vertical scrolling */
tbody {
  overflow-y: auto;
}

td {
  & > button {
    padding: 0.25rem;
    background: var(--accent-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: var(--border-radius);

    &:hover,
    &:focus-visible {
      outline: 1px solid var(--secondary-color);
    }

    & > svg {
      --size: 20px;
      height: var(--size);
      width: var(--size);
    }
  }
}
