.modal_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: center;

  & > .modal_background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000031;
    z-index: -1;
  }
  & > .modal_box {
    padding: 0.5rem;
    background: var(--bg-color);
    z-index: 2;
    border: 1px solid var(--accent-color);
    border-radius: calc(var(--border-radius) - 5px);

    & > .modal_header {
      width: inherit;
      padding: 0.5rem;
      border-bottom: 1px solid var(--secondary-color);

      & > h2 {
        text-transform: capitalize;
      }
    }

    & > .modal_content {
      padding: 0.5rem;
    }
    & > .modal_action {
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;

      & > button {
        padding: 0.25rem 0.5rem;
        background: var(--accent-color);
        color: var(--secondary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        border: none;
        outline: none;
        border-radius: calc(var(--border-radius) - 5px);
        text-transform: capitalize;

        &:hover,
        &:focus-visible {
          outline: 1px solid var(--secondary-color);
        }

        &.close_action {
          background: var(--secondary-color);
          color: var(--accent-color);
        }
      }
    }
  }
}

.form_modal {
  & > form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.75rem;

    & > label {
      padding: 0.12rem 0.15rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
      width: 100%;
      position: relative;

      &:hover {
        color: var(--accent-color);
      }
      &:focus-within {
        color: var(--accent-color);
      }

      & > span {
        padding-left: 0.5rem;
      }

      & > :is(input, select) {
        margin-right: 0.5rem;
        padding: 0.15rem 0.5rem;
        background: none;
        outline: none;
        border: 1px solid var(--bg-color-2);
        border-radius: calc(var(--border-radius) - 3px);
        max-width: 100%;

        &:focus {
          outline: 1px solid var(--accent-color);
        }
      }
      & > select:focus {
        /* Customize focus style for select elements, if desired */
        background: var(--bg-color-2); /* Adjust as needed */
      }
      &:has(:is(input, select):required) {
        &::before {
          content: "*";
          color: rgb(255, 30, 0);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &:has(:is(input, select).error) {
        background: rgba(255, 30, 0, 0.08);

        &::after {
          content: "!";
          color: rgb(255, 30, 0);
          font-size: 1rem;
          position: absolute;
          top: 0;
          right: 0.25rem;
          height: inherit;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  &.edit_modal {
    & > form {
      & > label {
        grid-template-columns: repeat(3, 1fr);

        &:first-of-type {
          & > :is(input, select) {
            grid-column: 2/4;
            border: none;
          }
        }
      }
    }
  }
}
